<div class="map">
  <img
    alt="Map Image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    src="https://maps.geoapify.com/v1/staticmap?style=osm-bright-smooth&width={{@width}}&height={{@height}}&zoom={{@zoom}}&center=lonlat:{{@lng}},{{@lat}}&apiKey={{this.token}}"
    width={{@width}} height={{@height}}
    >
</div>